<section class="about" id="about">
  <div class="container">
    <h2 class="about-title">About <span class="underline-effect">Us </span></h2>
    <p class="about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-list-box">
      <ol class="about-list">
        <li class="about-list-item">
          <p class="about-list-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-list-item">
          <p class="about-list-text">Wide range of course levels and options</p>
        </li>
        <li class="about-list-item">
          <p class="about-list-text">Multicultural learning environment</p>
        </li>
        <li class="about-list-item">
          <p class="about-list-text">Comprehensive language support services</p>
        </li>
      </ol>
      <div class="about-img-box">
        <img
          class="pulse-scale"
          srcset="img/about/about.png 1x, img/about/about@2x.png 2x"
          src="img/about/about.png"
          alt="about-image"
          width="254"
          height="211"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
