<footer class="footer section" id="footer">
  <div class="container">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>

    <div class="footer-contacts-holder">
      <div>
        <a class="nav-logo" href="./index.html" aria-label="Site logo"
          >english<span class="logo-accent-light">excellence</span>.
        </a>
        <address class="footer-address">
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <label class="font-footer-add" for="phone-number"
                >Phone number:</label
              ><br />
              <a
                class="footer-address-link font-footer-main"
                id="phone-number"
                href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-item">
              <label class="font-footer-add" for="address">Address:</label
              ><br />
              <span class="footer-address-text font-footer-main" id="address"
                >32a M. Bazhana ave</span
              >
            </li>
          </ul>
        </address>
      </div>

      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#about">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#lessons">Our lessons</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#teachers">Teachers</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contact">Contact us</a>
        </li>
      </ul>

      <ul class="social-icon">
        <li class="social-icon__item">
          <a
            class="social-icon__link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg
              class="social-icon-footer"
              width="28"
              height="28"
              aria-label="facebook icon"
            >
              <use href="img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#" target="_blank">
            <svg
              class="social-icon-footer"
              width="28"
              height="28"
              aria-label="youtube icon"
            >
              <use href="img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon__item">
          <a
            class="social-icon__link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg
              class="social-icon-footer"
              width="28"
              height="28"
              aria-label="instagram icon"
            >
              <use href="img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <hr class="font-footer-copy" />
    <p class="font-footer-copy">
      &copy;2024 English Excellence. All rights reserved.
    </p>
  </div>
</footer>
