<html>
  <body>
    <footer class="footer">
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      <ul class="social-icon">
        <li class="social-icon__item">
          <a
            class="social-icon__link"
            href="https://www.facebook.com/goITclub/"
          >
            <svg
              class="social-icon-footer"
              width="28"
              height="28"
              aria-label="facebook icon"
            >
              <use href="img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <svg
              class="social-icon-footer"
              width="28"
              height="28"
              aria-label="youtube icon"
            >
              <use href="img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon__item">
          <a
            class="social-icon__link"
            href="https://www.instagram.com/goitclub/"
          >
            <svg
              class="social-icon-footer"
              width="28"
              height="28"
              aria-label="instagram icon"
            >
              <use href="img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#about">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#lessons">Our lessons</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#teachers">Teachers</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contact">Contact us</a>
        </li>
      </ul>
      <p>&copy;2024 GoIT | project-group-4 | team Excellence</p>
    </footer>
  </body>
</html>
