<header class="header" id="header">
  <div class="header-container container">
    <a class="nav-logo" href="./index.html" aria-label="Site logo"
      >english<span class="logo-accent">excellence</span>.
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#lessons">Our lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#teachers">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list list">
      <li class="header-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header-social-link link"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            width="28"
            height="28"
            aria-label="facebook icon"
          >
            <use href="img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header-social-link link"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            width="28"
            height="28"
            aria-label="instagram icon"
          >
            <use href="img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-social-link link"
          target="_blank"
        >
          <svg
            class="header-social-icon"
            width="28"
            height="28"
            aria-label="youtube icon"
          >
            <use href="img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="mobile-menu-btn" type="button" data-menu-open>
      <svg class="mobile-menu-btn-icon" width="32" height="32">
        <use href="img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
