<section class="hero section" id="hero">
  <div class="hero-container container">
    <h1 class="main-title title-one">
      Discover the joy of learning
      <span class="accent-title three-d-effect">English</span> with us!
    </h1>
    <a class="proposal-btn hero-btn" href="#contact">Leave an application</a>
  </div>

  <a href="#footer" class="scroll-link">
    <svg class="mobile-menu-btn-icon" width="20" height="20">
      <use href="img/sprite.svg#icon-scroll"></use>
    </svg>
  </a>
</section>
