<section class="hero">
  <div class="container">
    <h1 class="title-one">
      Discover the joy of learning <span class="highlight">English</span> with
      us!
    </h1>
    <a href="#leave-application">
      <button class="main-button button-text" type="button">
        Leave an application
      </button>
    </a>
  </div>

  <a href="#footer" class="scroll-icon">
    <svg
      width="50"
      height="50"
      viewBox="0 0 50 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="25" cy="25" r="24" stroke="#000" stroke-width="2" />

      <path
        d="M25 32L25 18M25 32L18 25M25 32L32 25"
        stroke="#000"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </a>
</section>
