<section class="lessons section" id="lessons">
  <div class="container lessons-container">
    <h2 class="title lessons-title">
      Our <span class="underline-effect">lessons</span>
    </h2>
    <p class="sub-title lessons-text">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios.
    </p>

    <!-- Plans Container -->
    <div class="plans-box">
      <ul class="plan-list">
        <!-- Practice Plan -->
        <li class="plan-item">
          <div class="plan-content">
            <p class="plan-title">Practice</p>
            <p class="plan-price">40$ / month</p>
            <p class="plan-text">
              This plan offers an opportunity for learners to engage in
              collaborative language exercises and group activities, boosting
              their conversational skills and confidence in using English.
            </p>
            <a href="#contact" class="plan-button">Leave an application</a>
          </div>
        </li>

        <!-- Standard Plan -->
        <li class="plan-item standard">
          <div class="plan-content">
            <p class="plan-title white-text-title">Standard</p>
            <p class="plan-price white-text-title">70$ / month</p>
            <p class="plan-text white-text">
              Our standard package provides a balanced learning approach that
              covers all key areas of English language - reading, writing,
              listening, and speaking. It is a set of basic knowledge and
              skills.
            </p>
            <a href="#contact" class="plan-button white-button"
              >Leave an application</a
            >
          </div>
        </li>

        <!-- Individual Plan -->
        <li class="plan-item">
          <div class="plan-content">
            <p class="plan-title">Individual</p>
            <p class="plan-price">99$ / month</p>
            <p class="plan-text">
              We offer a tailored learning experience with individualized
              instruction that focuses on a learner’s specific language goals
              and challenges, offering personal feedback.
            </p>
            <a href="#contact" class="plan-button">Leave an application</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
