<section class="proposal-section section">
  <h1 hidden>Proposal header</h1>

  <div class="proposal">
    <h2 class="main-title proposal-title">
      Master the <span class="accent-title three-d-effect">Language</span> with
      Our English Package!
    </h2>

    <div class="proposal-cards">
      <div class="proposal-cards-holder">
        <h3 class="proposal-cards-title">Power of English</h3>
        <ul class="proposal-cards-list">
          <li class="proposal-cards-item">
            <p class="proposal-card-item-desc">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="proposal-cards-item">
            <p class="proposal-card-item-desc">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="proposal-cards-item">
            <p class="proposal-card-item-desc">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a class="proposal-btn" href="#contact">Leave an application</a>
      </div>
    </div>
  </div>
</section>
