<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      What our <span class="underline-effect">students</span> say
    </h2>
    <p class="reviews-sub-title">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div class="reviwer-block">
      <ul class="reviwer-list">
        <li class="reviwer-item">
          <div class="reviwer">
            <img
              class="review-photo"
              srcset="img/reviews/img-1.png"
              src="img/reviews/img-1.png"
              alt="Anna"
              width="50"
              height="50"
            />
            <div class="reviever-info">
              <p class="reviwer-name">Anna</p>
              <p class="reviwer-position">Student</p>
            </div>
          </div>
          <p class="review-text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="reviwer-item">
          <div class="reviwer">
            <img
              class="review-photo"
              srcset="img/reviews/img-1.png"
              src="img/reviews/img-1.png"
              alt="Anna"
              width="50"
              height="50"
            />
            <div class="reviever-info">
              <p class="reviwer-name">Mykhailo</p>
              <p class="reviwer-position">Student</p>
            </div>
          </div>
          <p class="review-text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="reviwer-item">
          <div class="reviwer">
            <img
              class="review-photo"
              srcset="img/reviews/img-1.png"
              src="img/reviews/img-1-2x.png"
              alt="Anna"
              width="50"
              height="50"
            />
            <div class="reviever-info">
              <p class="reviwer-name">Victoria</p>
              <p class="reviwer-position">Student</p>
            </div>
          </div>
          <p class="review-text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
