.about {
  /* padding: 80px 0; */
}

.about-title {
  margin-bottom: 16px;
}

.about-text {
  margin-bottom: 40px;
}
.about-list {
  padding-left: 0;
  margin-top: 0;
  counter-reset: item;
  list-style-type: none;
}
@media only screen and (max-width: 767px) {
  .about-list {
    margin-bottom: 20px;
  }
}
.about-list-item {
  width: 100%;
  padding: 32px;
  background-color: #f3f5f6;
  border-radius: 16px;
}
.about-list-item::before {
  display: block;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.56px;
  font-weight: 700;
  color: #4dc274;
}
@media only screen and (max-width: 767px) {
  .about-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.about-list-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--c-black);
}

.about-img-box {
  width: 100%;
  height: 313px;
  background-color: #4dc274;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .about {
    /* padding: 100px 0; */
  }

  .about-text {
    margin-bottom: 64px;
  }
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .about-list-item {
    border-radius: 30px;
    flex-basis: calc((100% - 32px) / 2);
  }
  .about-img-box {
    width: 100%;
    height: 243px;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 1279px) {
  .about-list {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    /* padding: 96px 0; */
  }
  .about-text {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-list-box {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
  }
  .about-list {
    width: 682px;
  }
  .about-img-box {
    width: 310px;
    height: 352px;
  }
}
