@keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }
  to {
    transform: translateX(-104%) translateY(-50%);
  }
}
@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}

@keyframes swing-three-d-anim {
  0%,
  100% {
    transform: perspective(700px) rotateX(2deg) rotateY(-8deg) skewX(2deg);
  }
  50% {
    transform: perspective(700px) rotateX(2deg) rotateY(8deg) skewX(-2deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

@keyframes rotate-neg {
  0% {
    transform: translateX(0vw) translateY(0vh) rotate(-5deg);
  }

  50% {
    transform: translateX(0vw) translateY(0vh) rotate(-10deg);
  }

  100% {
    transform: translateX(0vw) translateY(0vh) rotate(-5deg);
    opacity: 1;
  }
}

@keyframes rotate-pos {
  0% {
    transform: translateX(0vw) translateY(0vh) rotate(5deg);
  }

  50% {
    transform: translateX(0vw) translateY(0vh) rotate(10deg);
  }

  100% {
    transform: translateX(0vw) translateY(0vh) rotate(5deg);
  }
}
