:root {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  --c-green: #4dc274;
  --c-dark-green: #38ae5f;
  --c-light-green: #d4fde1;
  --c-accent-green: #bee8cc;
  --c-black: #121417;
  --c-white: #ffffff;

  --green-gradient: linear-gradient(84.6deg, #4dc274 2.25%, #bee8cc 131.25%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  /* overflow-x: hidden; */
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
