.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  border-radius: 12px;
  border: none;
  color: white;
  background: var(--c-green);
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-btn:hover {
  background: #3da95e;
}
