/* 3D effect for accent text*/
.three-d-effect {
  display: inline-block;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2), 6px 6px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 10px rgba(0, 255, 0, 0.3);
  transform: perspective(700px) rotateX(2deg) rotateY(-8deg) skewX(2deg);
  animation: swing-three-d-anim 3s infinite ease-in-out;
}

.typewriter {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 1s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

.underline-effect {
  position: relative;
  display: inline-block;
}

/*if you need change underline color add param --underline-color and use class with style="--underline-color: c_red;"*/
/* also set z-index:0 to parent*/
.underline-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 35%;
  width: 100%;
  background-color: var(--c-light-green);
  transition: background-color 0.3s;
  z-index: -1;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.pulse-scale {
  animation: pulse-scale 2s infinite;
}

.pulse {
  animation: pulse 1s infinite;
}
