.main-title {
  /* Heading */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 105%;

  color: var(--c-white);
}

@media (min-width: 768px) {
  .main-title {
    font-size: 60px;
    line-height: 117%;
  }
}

.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--c-black);

  font-size: 32px;
  line-height: 112%;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 120%;
  }
}

.sub-title {
  /* Supporting text */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);

  font-size: 14px;
  line-height: 171%;
}

@media (min-width: 768px) {
  .sub-title {
    font-size: 18px;
    line-height: 167%;
  }
}
