.hero-container {
  margin: 0 auto;
  width: 100%;
  height: 709px;

  border-radius: 16px;
  background-image: url('../img/hero-background/hero-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 36px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/hero-bg-mobile@2x.jpg');
  }
}
@media (min-width: 768px) {
  .hero-container {
    background-image: url('../img/hero-background/hero-bg-tab.jpg');
    justify-content: center;
    height: 857px;
  }
}

@media (min-width: 1280px) {
  .hero-container {
    background-image: url('../img/hero-background/hero-bg-desktop.jpg');
    height: 629px;
  }
}
.title-one {
  text-align: left;
  width: 300px;
  margin-bottom: 36px;
}

.hero-btn {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;

  color: var(--c-white);
}

@media (min-width: 768px) {
  .title-one {
    width: 488px;
  }
  .hero-btn {
    width: 306px;
  }
}

@media (min-width: 1280px) {
  .title-one {
    width: 564px;
  }
}

.scroll-link {
  position: fixed;
  width: 38px;
  height: 38px;

  bottom: 16px;
  right: 16px;
  background-color: var(--c-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .scroll-link {
    width: 48px;
    height: 48px;
  }
}

.scroll-link:hover {
  background-color: var(--c-accent-green);
}
